-
  var mainMenu = [
    {
      "id": "0",
      "name": "WINDOWS",
      "url": "#"
    },
    {
      "id": "10",
      "name": "MAC OS",
      "url": "#",
    },
    {
      "id": "20",
      "name": "LINUX",
      "url": "#"
    },
    {
      "id": "30",
      "name": "•",
      "url": "#"
    },
    {
      "id": "40",
      "name": "ANDROID",
      "url": "#"
    },
    {
      "id": "50",
      "name": "iSO",
      "url": "#"
    },
    {
      "id": "60",
      "name": "•",
      "url": "#"
    },
    {
      "id": "70",
      "name": "ИГРЫ",
      "url": "#"
    },
    {
      "id": "80",
      "name": "•",
      "url": "#"
    },
    {
      "id": "90",
      "name": "Новости",
      "url": "#"
    },
    {
      "id": "100",
      "name": "Статьи и обзоры",
      "url": "#"
    },
  ];
