// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}



.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-family;
  font-weight: 700;
  color: currentColor;
}

h1 {  
  margin:30px 0;
  font-weight: bold;
  font-size: 29px;
  line-height: 39px;
 }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { 
  font-size: $font-size-h4;
  margin-bottom:20px 
}
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }
@media (max-width: 768px){
  h1 {
  font-size: 20px;
  line-height: 27px;
  }
}
h1.width-share {
  padding-right: 50px;
  position: relative;
}
p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding: 0;
  margin:0;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
.btn-big--square {
  padding:17px 20px;
  border-radius: 3px;
  background-color: $gray-darkest;
  color: $white;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  transition: all 0.3s linear;

  &:hover, &:active, &:focus {
    background-color: $color-main;
    color:$white;
    opacity: 1;
    cursor: pointer;
  }
}
.btn-big--circle {
  background-color: $color-main;
  color:$white; 
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border-radius: 22.5px;
  padding:13px 35px;
  transition: all 0.3s linear;
  
  &:hover, &:active, &:focus {
    background-color: $gray-darkest;
    color:$white;
    opacity: 1;
    cursor: pointer;
  }
}
.btn-circle {
  text-align: center;
  display: block;
  color:$white;
  padding: 13px 17px;
  border-radius: 23px;
  height:45px;
  border:0px;
  min-width:113px;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
  justify-content: center;


  &:hover, &:active, &:focus {
    background-color: $gray-darkest;
    color:$white;
    opacity: 0.6;
    cursor: pointer;
    outline: none;
  }
}
.btn-main-color {
background-color: $color-main;
}
.btn-green-color {
  background-color: #63B94D;
}
.btn-transparent--circle {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  border: 1px solid #BABABA;
  border-radius: 40px;
  padding:3px 13px;
}
.btn-transparent--square {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: $gray-darker;
  text-align: center;
  border: 1px solid #BABABA;
  border-radius: 3px;
  padding:9px 13px 12px;
  text-transform: uppercase;
}
.color-main {
  color: $color-main;
}
.color-grey{
color: $gray-dark;
}
svg.color-main {
  fill:$color-main;
}
.has-separator{

  & svg {
  margin-left:11px;
  }

}
.no-visible {
  visibility: hidden;
  position: absolute;
}
.divider {
  width:100%;
  height:1px;
  background-color: $gray-lighten;
}
.splide{
width: 100%;
}
#actual-article {

  & .splide__arrows{
    display: none;
  }
  & .splide__pagination{
    display: none;
  }
}

.splide__arrows{
  display: flex;
  justify-content: flex-end;
  margin-bottom:40px;
  margin-top:-25px;

    & .splide__arrow{
      position: relative;
      width: 40px;
      height: 40px;
      border: 0px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        fill:#BABABA;
      }

      &:hover, &:active, &:focus {
        outline: none;
        & svg {
        fill: $color-main;
        }
      }
    }

    & .splide__arrow--prev{
      transform:rotate(180deg);

      &:after {
        position:absolute;
        top: 4px;
        left:0;
        content: "";
        width:1px;
        height:32px;
        background-color: $gray-lighten;
      }
    }

}
a.footer-sotial-link{
     
  &.sotial {
      fill: #6F6F6F;
      fill-rule:evenodd;
      clip-rule: evenodd;
  }

  &:hover {
   
      &.sotial {
       fill: $color-main;
      }
  }
}
//article

.article{

  &__inner {
    @include container;
    margin-top: 40px;
  }

  &__row {
    display: flex;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    & .articles__card {
      margin:15px;
    }
  }
  &__main{
    max-width: 852px;
    & .breadcrumbs--bottom{
      margin: 100px 0;
    }
  
  }
  
  @media(max-width: 768px){
    &__main{
      
      & .breadcrumbs--top {
      display: none;
      }

      & h1 {
        margin:20px;
      }
    }

    &__inner {
      margin-top:0px;
      padding:0px;
    }
    &__list { 

      & .articles__card {
        width:359px;
        margin: 10px;
      }
      & .articles__img {
        width:359px;
      }
  }
  }
  @media (max-width:480px){

    &__list{
    justify-content: center;

    & .articles__card {
      width: 100vw;
      max-width: 100%;
      margin: 0;
    }
    & .articles__img {
      width: 100vw;
      max-width: 100%;
      margin: 0;
    }
    }
  }  
}

//sidebar
.sidebar {
  width:264px;
  min-width: 264px;
  margin-right: 30px;

  &__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom:25px;
  }

  &__category {
    padding: 0;
    margin: 0;

    & li {
      list-style: none;
      min-height:48px;
      width:100%;
      margin-bottom:2px;

      & a {
        display: block;
        width:100%;
        min-height: 48px;
        background-color: $white;
        font-size: 16px;
        line-height: 30px;
        border-radius: 3px;
        padding:12px 20px;

        &:hover {
          color: $text-color;
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
        }
        &.current {
          background-color: $color-main;
          color: $white;
          pointer-events: none;

          &:hover {
            pointer-events: none;
            cursor: default;
            color: $white;
          }
        }
      }
    }
  }
  &__timewrite {
    height: 246px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    margin-bottom:10px;
    border-radius: 3px;
  }


  &__timer {
    width: 126px;
    height:126px;
    border-radius: 50%;
    margin-bottom:22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px; 
    text-align: center; 
    flex-direction: column;
    position: relative;

    & span {
        font-weight: bold;
      font-size: 18px;
      line-height: 22px; 
     
    }

    & svg {
      position: absolute;
      animation: timewrite-rotate 2s linear;

    }
    @keyframes timewrite-rotate {

      0% {
        transform: rotate(0);
      }
    
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__contents{
   margin: 11px 0 4px;
   background-color: $white;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 70px;
   font-weight: bold;
   font-size: 16px;
   line-height: 22px;
   border-radius: 3px;

   & svg {
     margin-left: 30px;
   }
  }
  &__contents-list {
    background-color: $white;
    margin-bottom:42px;
    border-radius: 3px;
   

    & li {
      list-style: none;
      font-size: 14px;
      line-height: 27px;
      
      
      & a{
        display: block; 
        width: 100%;
        height:100%;
        padding: 10px 39px 10px 29px;
        border-left: 6px solid transparent;
       
        &:hover {
          border-left: 6px solid $gray-light;
        }

        &.current {
        border-left: 6px solid $color-main;
        
        &:hover{
          border-left: 6px solid $color-main;
        }
        }
      }
    }
  }
  & .top-block__title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;;
  }

  & .top-block__news {
    margin-top:20px;
    margin-bottom:20px;
    padding: 30px 20px 40px;
    border-radius: 3px;

    
    & .news-card {
      padding: 0 0;

      &__line {
        display: flex;
      }

      &__img {
        width:44px;
        height:44px;
        min-width:44px;
        flex-basis: 44px;
        margin-right: 12px;

        & img {
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }

      &__content {

        & .news-card__link {
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
        }

        & .news-card__date{
          font-size: 12px;
          line-height: 16px;
          margin-top: 3px;
          color: $gray-darkest;

            & span {
              color: $gray-light;
            }
        }
      }
    }
    &-all{
    font-size: 18px;
    line-height: 25px;

     & svg {
       margin-left: 10px;
     }

     &:hover {
       color: $text-color;
     }
    }
  }
  &__form {
    min-height:264px;
    border-radius: 3px;
    border: 3px solid $gray-lighten;
    padding:37px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom:42px;

    & input {
      background-color: transparent;
      border:0px;
      border-bottom:1px solid $gray-lighten;
      padding:3px;
      text-align: center;
      color: $gray-dark;

      &:active, &:focus {
        outline: none;
      }
    }
  }
  &__form-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
  &__tags {
    margin:0px 0 50px;
    text-align: right;
  
  & .sidebar__form-title{
    text-align: left;
  }
  }
  & .tag-list {
    margin:35px 0;
    display: flex;
    flex-wrap: wrap;

    & li {
      list-style: none;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  &__comments{
    background-color: $white;
    border-radius: 3px;
    padding: 20px 10px;

    & .sidebar__form-title{
      text-align: left;
      padding:0 10px;
    }

    & .comment-list {
      margin-top: 25px;

      &__item {
        list-style: none;
        display: flex;
        flex-direction: column;
      }

    }

    & .comment-card {
      margin:20px 10px;
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
      }
      
      &__img {
        width: 44px;
        height:44px;
        min-width:44px;
        border-radius: 50%;
        overflow: hidden;
        margin-right:12px;

        & img {
          width:100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__user-name {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: $gray-darkest;
      }

      &__comment-data{
        margin-top:3px;
        font-size: 14px;
        line-height: 24px;
        color: $gray-light;
      }

      &__content {
        margin-top:13px;
        font-size: 14px;
        line-height: 23px;
        color: $gray-darkest;
      }

      &__footer {
        margin-top:18px;
        font-size: 14px;
        line-height: 23px;
        color: $gray-light;
      }
    }
  }

  
  @media(max-width: 768px){
      display: none;
  }
}

//orderby
.orderby{
  display:flex;
  font-size: 16px;
  line-height: 22px;
  color:$gray-light;
  margin-bottom: 30px;

  & ul {
    display:flex;

    & li {
      list-style: none;

      & a {
        margin-right: 30px;

        &.current {
          color: $color-main;
          fill: $color-main;
        }

        & svg {
          margin-left: 5px;
        }
        &.down svg{
          transform: rotate(180deg);
        }
      }
    }

  }

  & span {
    margin-right: 40px;
  }
  @media(max-width: 768px){
  position: absolute;
  top: 50px;
  min-width: 200px;
  right:0;
  display: none;

  & span {
    display: none;
  }
  
  & ul {
    flex-direction: column;
   

    & li {
      background-color: $gray-lighten;
      border-top:1px solid #f7f7f7;
      & a {
        display: block;
        margin:10px 15px;
        font-size: 14px;
      }
    }
  }
  &#orderby{
    &.open {
    display: block;
    z-index: 5;
    }
  }
}
}
//paginate

.paginate {
  margin: 0 36px 0 15px;

  &__show-more{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 40px;
    text-align: center;
    background-color: $white;
    color: $gray-dark;
    border-radius: 3px;

    & .loader {
      display: none;

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 2px solid #f7f7f7;
        border-top: 2px solid #FD6F29;
        border-radius: 50%;
        -webkit-animation: loader-rotate 1s linear infinite;
        animation: loader-rotate 1s linear infinite;
    }
    }
    &:hover {
      box-shadow: 0 4px 12px rgba(63, 61, 61, 0.14);
    }
    }
  &__list{
   margin-top:20px;
   margin-bottom: 90px;
   display: flex;

   & li {
     list-style: none;
     width:40px;
     height:40px;
     margin-right:5px;
     background-color: $white;

     &:hover{
      box-shadow: 0 4px 12px rgba(63, 61, 61, 0.14);
     }
     & a {
       display: flex;
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       color: $gray-dark;
       font-size: 14px;
       line-height: 19px;

       &.current {
        pointer-events: none;
         background-color: $color-main;
         color:$white;
       }

       &:hover {
         color: $color-main;
       }

       &.perw {
        transform: rotate(180deg);
       }
     }
   }
  }
}

//mobile-menu
.mobile-menu {
  width:100%;
  height:50px;
  background-color: $gray-lighten;
  display: none;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .divider {
    width: 1px;
    height:42px;
    background-color: $gray-light;
  }

  &__dropdown {
    flex-grow: 2;
    display: flex;
    justify-content: center;
  }

  &__back {
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      fill: #6F6F6F;
      transform: rotate(180deg);
    }
  }
  &__orderby {
    width:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & svg {
      fill: #6F6F6F;
      transform: rotate(180deg);
    }
  }

  & .dropdown {
    height:50px;
    position: relative;
  

  }

  &__list{
    position: absolute;
    top:0px;
    background-color: $gray-lighten;
    width:100%;
    height:50px;
    overflow: hidden;

    & li {
      height: 50px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        margin-left:9px;
        transform: rotate(90deg);
        fill: $color-main;
      }
    }
    &.open {
      overflow: initial;
      height: auto;
      z-index: 5;
    }
  }
  & #orderby{
    & .open {
    display: block;
    }
  }

  @media (max-width:768px) {
    display: block;
  }

}

//frames
.frame-facebook {
  position: relative;
  background-color: $white;
  margin:20px 0;
  border-radius: 3px;
  overflow: hidden;

  &__logo {
    position: absolute;
    top: 18px;
    left:20px;

  }

  &__content {
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    margin: 25px 20px 28px;
    display: inline-block;
  }

}
.frame_vk{
  border-radius: 3px;
  overflow: hidden;
  margin-bottom:20px;
}
.share-panel {
  position: absolute;
  right:0;
  top:0;
  z-index: 5;

  &__list {
    display: flex;
    height: 88px;
    background-color: $white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    right: -30px;
    top: -30px;
    width:0px;
    max-width: 0;
    overflow: hidden;
    transition: all 0.5s linear;

    & li {
      list-style: none;

      & a {
        display: block;
        width: 48px;
        height:48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 10px;

        & svg {
          fill: $white;
        }

        &.vk{
          background-color: $color-vk;
        }
        &.google{
          background-color: $color-google;
          border:1px solid $gray-lighten;

          & svg {
            fill: $gray-lighten;
          }
        }
        &.facebook{
          background-color: $color-fb;
        }
        &.twitter{
          background-color: $color-tw;
        }
      }
    }
  &.open {
    width:auto;
    max-width: 700px;
  }
  }

  & .share-panel-open{

    & svg {
      fill: #BABABA;
    }

    &:hover {

      & svg {
        fill: $color-main;
      }
    }
  }
  & .share-panel-close {
    & svg {
      fill:  $color-main;
    }
  }
}

//post

.post {
  font-size: 16px;
  line-height: 28px;

  & p {
    margin-bottom: 2rem;

    & a {
      color: $color-main;
      
    }
  }

  & .subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    color: $gray-dark;

    & p {
      margin-bottom: 1rem;

      
    }
  }

  & .meta-info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom:40px;

    & div {
      margin-right:67px;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;

      & svg {
        margin-right: 11px;
      }
    }
  }
  & h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    margin-top: 41px;
    margin-bottom: 24px;
  }

  & .content-img {
    margin:30px 0 50px;
    width:100%;
    min-width:100%;
  }
}

//tags

.tags {
  margin:0px 0 50px;
  text-align: right;

&__title{
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  color: $gray-dark;
  display: flex;
  align-items: center;

  &:after {
    display: inline-block;
    flex-grow: 1;
    content: '';
    border-bottom:1px solid #DCDCDC;
    display: inline-block;
    margin-left: 40px;
  }
}
&__tag-list {
  margin:35px 0;
  display: flex;
  flex-wrap: wrap;

  & li {
    list-style: none;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
}

//anons 
.block-anons {
  margin: 20px 0;
  padding: 25px;
  border-top: 1px solid $gray-lighten;
  border-bottom: 1px solid $gray-lighten;
 }
 .anons-card {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height:90px;
  
   &__img {
    width: 90px;
    height:90px;
    min-width:90px;
    flex-basis: 90px;
    border-radius: 15px;
    overflow: hidden;
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
  }

  &__values {
    display: flex;
    font-size: 14px;
    line-height: 19px;
  }

  &__value {
    display: flex;
    flex-direction: column;
    margin-right:30px;

    & div {
      margin-top:14px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    & a.btn-circle {
      min-width: 165px;
    }
  }
}

//list-styles
ul.list-circle {
  margin-left:111px;

  & li {
    margin-bottom:25px;
    list-style: none;
    position: relative;

    &:before {
      content: "•"; 
      color: $color-main;
      display: inline-block;
      position: absolute;
      font-size: 2em;
      width: 6px;
      height:6px;
      border-radius: 50%;
      left: -1em;
    }
  }
}
ul.list-minus {
  margin-left:196px;

  & li {
    margin-bottom:25px;
    list-style: none;
    position: relative;

    &:before {
      content: " "; 
      color: $color-main;
      display: inline-block;
      position: absolute;
      font-size: 2em;
      width: 21px;
      height:2px;
      background-color: $color-main;
      left: -1.5em;      
      top: 1rem;

    }
  }
}

ol.list-count{
  margin-left:111px;
  counter-reset: item;

  & li {
    margin-bottom:25px;
    list-style: none;
    position: relative;
    counter-increment: item;
   

    &:before {
      content: counter(item);
      color: $color-main;
      display: inline-block;
      position: absolute;
      font-size: 14px;
      left: -2em;
      font-weight: 700;;
    }
  }
}

//video
.item-responsive {
  position: relative; 
 
  &:before {
  display: block; 
  content: ""; 
  width: 100%; 
  }

}
.item-16by9 {
  padding-top: 56.25%;
}
.item-4by3 {
  padding-top: 75%; /* (3:4)*100% */
}
.item-2by1 {
  padding-top: 50%; /* (1:2)*100% */
}
.item-1by1 {
  padding-top: 100%; /* (1:1)*100% */
}
.video-perw {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: all 0.5s linear;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:before {
    content:'';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-radius: 3px;
    width:100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    transition: all 0.5s linear;
  }
  &:after {
    content:'';
    background:url('../img/video.svg');
    background-size: contain;
    background-repeat: no-repeat;
    top:45%;
    left:45%;
    width: 84px;
    height: 82px;
    position: absolute;
    z-index: 3;
  }
  &:hover {
    &::before{
      background: transparent;
      transition: all 0.5s linear;
    }
  } 

}
//quotes
.quotes--line{
  background-color: $gray-lighter;
  padding:40px 50px 50px 50px;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  margin-bottom:50px;

  &:before {
    content: " ";
    width: 6px;
    height:100%;
    position: absolute;
    left: 0;
    top:50px;
    background-color: $color-main;
    border-radius: 3px;
  }
}
.quotes--simbol{
  background-color: $gray-lighter;
  padding: 40px 50px 50px 195px;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  margin-bottom:50px;

  &:before {
    content: " ";
    width: 6px;
    height:80%;
    position: absolute;
    left: 163px;
    top:10%;
    background: #FD6F29;
    border-radius: 3px;
  }

  &::after {
    content: "";
    background-image: url("../img/quote.svg");
    width:41px;
    height: 37px;
    position: absolute;
    top:45px;
    left:71px;
  }
}

//slider
.slider{
  max-width:852px;
  overflow: hidden;
  margin-bottom:40px;

  & .secondary-slider{
    margin-top:12px;

    & .splide__pagination{
      width:100%;
      flex-wrap: nowrap;
      overflow: hidden;
      border-radius: 3px;
      

      & li {
        width:214px;

        & button {
         background-color: #CCCCCC;
         border:0px;
         width:100%;
         height:6px;
        

         &.is-active{
           background-color: $color-main;
           border-radius: 3px;
         }
        }
      }
    }
  }
}

//figure

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  border-bottom: 1px solid $gray-dark;
  margin-bottom:20px;
  
  & img {
    width:100%;
  }
  & figcaption {
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: $gray-dark;
    padding-bottom:8px;
  }

  &.alt {
    position: relative;
    border-bottom:0px;
    & figcaption {
      padding:25px 30px;
      position: absolute;
      bottom: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      border-radius: 3px;
      color:$white;
      background-color: rgba(0,0,0,0.7);
    }
  }
}
.overflow{
  max-width: 100%;
  overflow-x: auto;
  margin-bottom:60px;
  &::-webkit-scrollbar-track {background-color: #CCCCCC;border-radius: 3px;}
  &::-webkit-scrollbar {width: 6px;}
  &::-webkit-scrollbar-thumb {border-radius: 3px;background: $color-main}
 // &:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}

}
.grid{
  display: grid;
  
}
.grid--col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  grid-column-gap: 68px;
  grid-row-gap: 1em;
}
.grid--col-4 {
  grid-template-columns: repeat(6, 213px);
  align-items: center;
  background-color: #ededed;
  width: fit-content;
  margin-bottom:6px;

  &.title{
    margin-bottom:6px;
  }

  & p {
    text-align:center;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin:20px 0;
  }
}
.tablies {
  background-color: $gray-lighter;

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding: 36px 0 33px;
  }
}
.title-divider {
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    color: #707070;
    display: flex;
    align-items: center;

    &:after {
      flex-grow: 1;
      content: '';
      border-bottom: 1px solid #dcdcdc;
      display: inline-block;
      margin-left: 40px;
    }
}

//app-slider 
.app-card {
  padding: 20px;
  background-color:$white;
  max-width:264px;

  &__line {
    display: flex;
  }

  &__img {
    width: 44px;
    height: 44px;
    min-width: 44px;
    flex-basis: 44px;
    margin-right: 12px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    color: #1f1f1f;
    padding-top: 14px;

    & span {
      color: #999;
    }

    & svg {
      margin-right:5px;
      fill:#999; 
    }
  }
}
.app-slider{
  margin: 22px 0 30px;

  & .splide__arrows{
    position: absolute;
    z-index: 5;
    height: 96px;
    width:100%;
    margin-top: 0;
    margin-bottom: 0;

    & .splide__arrow{
      position: relative;
      width: 30px;
      height: 96px;
      background: #BABABA;
      border-radius: 3px;
      left:0;
      opacity: 0.7;

      & svg {
        fill:$white;
      }
      &:hover {
        opacity:1;
      }
    }
    .splide__arrow--perw {
      margin-right:auto;
    }
    & .splide__arrow--next {
      margin-left:auto;
    }
  }
}
//warning 
.warning {
  padding: 32px 15px 33px 40px;
  border-radius:3px;
  border: 2px solid $color-main;
  margin:50px 0;
}

//compare
.block-compare{

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:$white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding:16px 17px;
    border-radius:3px;

  }

  &__item {
    margin:10px 0;
    background-color: $gray-lighter;
    border-radius: 3px;
    padding: 23px 30px; 
    font-size:14px;
    line-height: 23px;
    border-left:6px solid;
  }

  &__footer {
    display: flex;
  }
}
.block-plus {

  & .block-compare__title {
    background-color: #63B94D;
  
  }
  & .block-compare__item {
    border-color:#63B94D;
  }
}
.block-minus {

  & .block-compare__title {
    background-color: #E62222;
  }
  & .block-compare__item {
    border-color:#E62222;
  }
}
.like {
  color:#63B94D;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right:30px;
  display: flex;
  align-items: center;


  & svg {
    fill: #63B94D;
    margin-right:5px;
  }
}
.dislike {
  color:#BABABA;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;

  & svg {
    fill: #BABABA;
    transform: rotate(180deg);
    margin-right:5px;
  }
}

