//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    //- Фавиконки (https://realfavicongenerator.net)
    //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    //- link(rel='manifest', href='/img/favicon/site.webmanifest')
    //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title listing-article

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content
        +page-header()
        h1.no-visible Заголовок страницы для сео
        +main-nav(90)
        +mobile-menu()
        .article__inner 
            .article__row 

              .article__main 
                +breadcrumbs('top')
                  +breadcrumbs-item('Бесплатные программы', '/')
                  +breadcrumbs-item('Безопасность', '/')
                  +breadcrumbs-item('Рейтинг антивирусов')
                h1.width-share Рейтинг бесплатных антивирусов со сравнением
                  // Блок "поделиться в соцсетях"
                  .share-panel 
                    a.share-panel-open(href="#")
                      svg.separator(width="23px" height="26px")
                          use(xlink:href="img/sprite.svg#share")
                    ul.share-panel__list 
                      li 
                        a.vk(href="#")
                          svg.separator(width="21px" height="12px")
                            use(xlink:href="img/sprite.svg#vk")
                      li 
                        a.google(href="#")
                          svg.separator(width="18px" height="17px")
                            use(xlink:href="img/sprite.svg#google") 
                      li 
                        a.facebook(href="#")
                          svg.separator(width="11px" height="20px")
                            use(xlink:href="img/sprite.svg#fb")
                      li 
                        a.twitter(href="#")
                          svg.separator(width="18px" height="17px")
                            use(xlink:href="img/sprite.svg#twitter")
                      li 
                        a.share-panel-close(href="#")
                          svg.separator(width="23px" height="26px")
                             use(xlink:href="img/sprite.svg#share")
                // контентная часть

                .post
                  p Каталог бесплатных программ FreeSoft — это старейший в Рунете каталог и файловый архив программ. На страницах нашего портала вы найдете программы для Windows, Android, iOS, Mac OS, Linux, Windows Phone на различных языках, в том числе и на русском языке. Все файлы программ от официальных поставщиков, и помимо этого проверены антивирусом. Windows Phone на различных языках, в том числе и на русском языке. Все файлы программ от официальных поставщиков, и помимо этого проверены антивирусом.
                  section.listing
                    .post__soft-rating.soft-rating 
                      .soft-rating__sidebar 
                        .soft-rating__soft-card
                          //img(src='img/article-2.png', alt='Logo', width='264', height='190')
                        // сайтбар оглавление
                        ul.sidebar__contents-list.contents-list
                          li 
                            a.current(href="#") Общий рейтинг
                          li 
                            a(href="#") Общие сведения
                          li 
                            a(href="#") Функции и возможности
                          li 
                            a(href="#") Результаты тестов
                      .soft-rating__content
                        #soft-slider-rete.splide.product-splide
                          .splide__track
                            ul.splide__list
                              li.splide__slide.product-slider
                                .product-slider__card
                                  .product-slider__img 
                                    img(src='img/product-1.png', alt='Logo', width='79', height='79')
                                  a(href="#").product-slider__content Advanced System Care Ultimate
                                  .product-slider__footer
                                    a.btn-circle.btn-green-color(href="#")
                                      svg.download(width="13px" height="15px")
                                          use(xlink:href="img/sprite.svg#download")
                                      | Скачать 
                              li.splide__slide.product-slider
                                .product-slider__card
                                  .product-slider__img 
                                    img(src='img/product-3.png', alt='Logo', width='79', height='79')
                                  a(href="#").product-slider__content Advanced System Care Ultimate
                                  .product-slider__footer
                                    a.btn-circle.btn-green-color(href="#")
                                      svg.download(width="13px" height="15px")
                                          use(xlink:href="img/sprite.svg#download")
                                      | Скачать 
                              li.splide__slide.product-slider
                                .product-slider__card
                                  .product-slider__img 
                                    img(src='img/programm-2.png', alt='Logo', width='79', height='79')
                                  a(href="#").product-slider__content Advanced System Care Ultimate
                                  .product-slider__footer
                                    a.btn-circle.btn-green-color(href="#")
                                      svg.download(width="13px" height="15px")
                                          use(xlink:href="img/sprite.svg#download")
                                      | Скачать
                              li.splide__slide.product-slider
                                .product-slider__card
                                  .product-slider__img 
                                    img(src='img/product-2.png', alt='Logo', width='79', height='79')
                                  a(href="#").product-slider__content Advanced System Care Ultimate
                                  .product-slider__footer
                                    a.btn-circle.btn-green-color(href="#")
                                      svg.download(width="13px" height="15px")
                                          use(xlink:href="img/sprite.svg#download")
                                      | Скачать 
                        .soft-rating__progress-bar.progress-bar 
                          .progress-bar__item 
                            .progress-bar__diagramm
                              span(data-progress="100")
                            .progress-bar__description
                              svg.download(width="11px" height="11px")
                                use(xlink:href="img/sprite.svg#star")
                              span 4.0
                          .progress-bar__item 
                            .progress-bar__diagramm
                              span(data-progress="80") 
                            .progress-bar__description
                              svg.download(width="11px" height="11px")
                                use(xlink:href="img/sprite.svg#star")
                              span 3.0
                          .progress-bar__item 
                            .progress-bar__diagramm
                              span(data-progress="20") 
                            .progress-bar__description
                              svg.download(width="11px" height="11px")
                                use(xlink:href="img/sprite.svg#star")
                              span 3.0
                          .progress-bar__item 
                            .progress-bar__diagramm
                              span(data-progress="60")
                            .progress-bar__description
                              svg.download(width="11px" height="11px")
                                use(xlink:href="img/sprite.svg#star")
                              span 3.0
                          .progress-bar__item 
                            .progress-bar__diagramm
                              span(data-progress="80") 
                            .progress-bar__description
                              svg.download(width="11px" height="11px")
                                use(xlink:href="img/sprite.svg#star")
                              span 3.0
                    .grid-table.grid.title
                        .tablies__title.tablies Общие сведения
                        .tablies__title.tablies 
                        .tablies__title.tablies
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        p 
                          strong Лицензия
                        p Бесплатная
                        p Бесплатная
                        p Бесплатная
                        p Бесплатная
                        p Бесплатная                     
                        p 
                          strong Русский язык
                        p.ok
                        p.ok
                        p.ok
                        p.ok
                        p.ok
                        p 
                          strong Поддержка
                        p.ok
                        p.ok
                        p.not-ok
                        p.ok
                        p.ok
                    .grid-table.grid.title
                        .tablies__title.tablies Результаты тестов
                        .tablies__title.tablies 
                        .tablies__title.tablies
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        p 
                          strong Время загрузки системы&nbsp;с антивирусом
                        p < 1 мин
                        p < 1 мин
                        p < 1 мин
                        p < 1 мин
                        p < 1 мин                    
                        p 
                          strong Время сканирования системных папок
                        p < 10 мин
                        p Бесплатная
                        p Бесплатная
                        p Бесплатная
                        p Пробная
                        p 
                          strong Использование процессора
                        p 20%
                        p 2.5%
                        p 2.5%
                        p 20%
                        p 20%
                        p 
                          strong Использование памяти
                        p 40 mb
                        p 40 mb
                        p 40 mb
                        p 10 mb
                        p 2 mb
                        p 
                          strong Рейтинг
                        p 3
                        p 2
                        p 6
                        p 4
                        p 8
                    .grid-table.grid.title
                        .tablies__title.tablies Мнение пользователей
                        .tablies__title.tablies 
                        .tablies__title.tablies
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        .tablies__title.tablies 
                        p 
                          strong Надежность
                        .compare-block
                            .like.active
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        p
                          strong Скорость работы
                        .compare-block
                            .like
                              span 10
                            .dislike.active
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        p 
                          strong Общий рейтинг
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                        .compare-block
                            .like
                              span 10
                            .dislike
                              span 4
                    h3 Нам важно ваше мнение
                    p Каталог бесплатных программ FreeSoft — это старейший в Рунете каталог и файловый архив программ. На страницах нашего портала вы найдете программы для Windows, Android, iOS, Mac OS, Linux
                    .soft-rating 
                      #soft-slider.splide.product-splide
                            .splide__track
                              ul.splide__list
                                li.splide__slide.product-slider
                                  .product-slider__card
                                    .product-slider__img 
                                      img(src='img/product-1.png', alt='Logo', width='79', height='79')
                                    a(href="#").product-slider__content Advanced System Care Ultimate
                                    .product-slider__footer
                                      .compare-block
                                        .like.like--square 
                                          span 10
                                        .dislike.dislike--square
                                          span 4
                  
                  section.app
                    .divider
                    .app__content
                      .post__soft-rating.soft-rating 
                        .soft-rating__sidebar
                          img(src='img/app.png', alt='Logo', width='140', height='140')
                        .soft-rating__content 
                          h3.width-share Era of Legends Pokémon GO Proffessional
                            // Блок "поделиться в соцсетях"
                            .share-panel 
                              a.share-panel-open(href="#")
                                svg.separator(width="23px" height="26px")
                                    use(xlink:href="img/sprite.svg#share")
                              ul.share-panel__list 
                                li 
                                  a.vk(href="#")
                                    svg.separator(width="21px" height="12px")
                                      use(xlink:href="img/sprite.svg#vk")
                                li 
                                  a.google(href="#")
                                    svg.separator(width="18px" height="17px")
                                      use(xlink:href="img/sprite.svg#google") 
                                li 
                                  a.facebook(href="#")
                                    svg.separator(width="11px" height="20px")
                                      use(xlink:href="img/sprite.svg#fb")
                                li 
                                  a.twitter(href="#")
                                    svg.separator(width="18px" height="17px")
                                      use(xlink:href="img/sprite.svg#twitter")
                                li 
                                  a.share-panel-close(href="#")
                                    svg.separator(width="23px" height="26px")
                                      use(xlink:href="img/sprite.svg#share")
                          .app__meta-info.meta-info
                            .meta-info
                              .meta-info__version <span>Версия:</span> 7. 12. 19
                              .meta-info__download
                                svg.separator(width="13px" height="15px")
                                      use(xlink:href="img/sprite.svg#download") 
                                div 140
                              .meta-info__votes
                                svg.separator(width="15px" height="15px")
                                      use(xlink:href="img/sprite.svg#star")  
                                div 4.0
                          .app__buttons
                            a.btn-circle.btn-transparent-color(href="#") Версия
                            a.btn-circle.btn-green-color(href="#") Скачать
                            div
                              svg.separator(width="15px" height="19px")
                                      use(xlink:href="img/sprite.svg#ok-alt")
                              | Проверено
                              img(src='img/eset.png', alt='Logo', width='41', height='15')
                          .app__description
                              p Версия :<span> 7. 12. 19</span>
                              p Совместимость:<span> Windows 7, Windows Vista, Windows 10</span>
                              p Стоимость: <span>Бесплатно</span>
                              p Язык: <span>Русский, Английский</span>
                              p Обновлено: <span>29. 12. 2018 </span>
                              p Разработчик: <span> Opera Software</span>
                              p Размер: <span>305. 7 МБ</span>
                              p Сайт: <span>www.opera.com </span>
                          ul.tags__tag-list 
                            li 
                              a(href="#").btn-transparent--square  FreeWare
                            li 
                              a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                            li 
                              a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                          p Веб-браузер и пакет прикладных программ для работы в Интернете, выпускаемый компанией Opera Software. Разработан в 1994 году группой исследователей из норвежской компании Telenor. С 1995 года — продукт компании Opera Software, образованной авторами первой версии.
                          p Веб-браузер и пакет прикладных программ для работы в Интернете, выпускаемый компанией Opera Software. Разработан в 1994 году группой исследователей из норвежской компании Telenor.
                          a.color-main.read-more(href="#") Полный обзор
                          .one-app-slider.splide.product-splide
                            .splide__track
                              ul.splide__list
                                li.splide__slide.product-slider(style="width: 569px")
                                   img(src='img/app1.png', alt='Logo', width='569', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app2.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app3.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 569px")
                                   img(src='img/app1.png', alt='Logo', width='569', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app2.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app3.png', alt='Logo', width='174', height='320')
                  section.app
                    .divider
                    .app__content
                      .post__soft-rating.soft-rating 
                        .soft-rating__sidebar
                          img(src='img/product-2.png', alt='Logo', width='140', height='140')
                        .soft-rating__content 
                          h3.width-share Era of Legends Pokémon GO Proffessional
                            // Блок "поделиться в соцсетях"
                            .share-panel 
                              a.share-panel-open(href="#")
                                svg.separator(width="23px" height="26px")
                                    use(xlink:href="img/sprite.svg#share")
                              ul.share-panel__list 
                                li 
                                  a.vk(href="#")
                                    svg.separator(width="21px" height="12px")
                                      use(xlink:href="img/sprite.svg#vk")
                                li 
                                  a.google(href="#")
                                    svg.separator(width="18px" height="17px")
                                      use(xlink:href="img/sprite.svg#google") 
                                li 
                                  a.facebook(href="#")
                                    svg.separator(width="11px" height="20px")
                                      use(xlink:href="img/sprite.svg#fb")
                                li 
                                  a.twitter(href="#")
                                    svg.separator(width="18px" height="17px")
                                      use(xlink:href="img/sprite.svg#twitter")
                                li 
                                  a.share-panel-close(href="#")
                                    svg.separator(width="23px" height="26px")
                                      use(xlink:href="img/sprite.svg#share")
                          .app__meta-info.meta-info
                            .meta-info
                              .meta-info__version <span>Версия:</span> 7. 12. 19
                              .meta-info__download
                                svg.separator(width="13px" height="15px")
                                      use(xlink:href="img/sprite.svg#download") 
                                div 140
                              .meta-info__votes
                                svg.separator(width="15px" height="15px")
                                      use(xlink:href="img/sprite.svg#star")  
                                div 4.0
                          .app__buttons
                            a.btn-circle.btn-transparent-color(href="#") Версия
                            a.btn-circle.btn-green-color(href="#") Скачать
                            div
                              svg.separator(width="15px" height="19px")
                                      use(xlink:href="img/sprite.svg#ok-alt")
                              | Проверено
                              img(src='img/eset.png', alt='Logo', width='41', height='15')
                          .app__description
                              p Версия :<span> 7. 12. 19</span>
                              p Совместимость:<span> Windows 7, Windows Vista, Windows 10</span>
                              p Стоимость: <span>Бесплатно</span>
                              p Язык: <span>Русский, Английский</span>
                              p Обновлено: <span>29. 12. 2018 </span>
                              p Разработчик: <span> Opera Software</span>
                              p Размер: <span>305. 7 МБ</span>
                              p Сайт: <span>www.opera.com </span>
                          ul.tags__tag-list 
                            li 
                              a(href="#").btn-transparent--square  FreeWare
                            li 
                              a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                            li 
                              a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                          p Веб-браузер и пакет прикладных программ для работы в Интернете, выпускаемый компанией Opera Software. Разработан в 1994 году группой исследователей из норвежской компании Telenor. С 1995 года — продукт компании Opera Software, образованной авторами первой версии.
                          p Веб-браузер и пакет прикладных программ для работы в Интернете, выпускаемый компанией Opera Software. Разработан в 1994 году группой исследователей из норвежской компании Telenor.
                          a.color-main.read-more(href="#") Полный обзор
                          .one-app-slider-1.one-app-slider--last.splide.product-splide
                            .splide__track
                              ul.splide__list
                                li.splide__slide.product-slider(style="width: 569px")
                                   img(src='img/app1.png', alt='Logo', width='569', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app2.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app3.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 569px")
                                   img(src='img/app1.png', alt='Logo', width='569', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app2.png', alt='Logo', width='174', height='320')
                                li.splide__slide.product-slider(style="width: 174px")
                                   img(src='img/app3.png', alt='Logo', width='174', height='320')
                    .divider
                  //  футер для страницы программы
                  .post__footer.post-app__footer 
                   
                    .post__footer-header
                      .post__footer-vote
                        svg.separator(width="11px" height="11px")
                              use(xlink:href="img/sprite.svg#star")
                        .post__footer-count 5.0
                          span 1 560 оценок
                      .post__footer-stars
                        .post__footer-ratings
                          .star 
                          .star
                          .star 
                          .star
                          .star
                      span Оцените программу 
                      .share-panel 
                        a.share-panel-open(href="#")
                          svg.separator(width="23px" height="26px")
                              use(xlink:href="img/sprite.svg#share")
                        ul.share-panel__list 
                          li 
                            a.vk(href="#")
                              svg.separator(width="21px" height="12px")
                                use(xlink:href="img/sprite.svg#vk")
                          li 
                            a.google(href="#")
                              svg.separator(width="18px" height="17px")
                                use(xlink:href="img/sprite.svg#google") 
                          li 
                            a.facebook(href="#")
                              svg.separator(width="11px" height="20px")
                                use(xlink:href="img/sprite.svg#fb")
                          li 
                            a.twitter(href="#")
                              svg.separator(width="18px" height="17px")
                                use(xlink:href="img/sprite.svg#twitter")
                          li 
                            a.share-panel-close(href="#")
                              svg.separator(width="23px" height="26px")
                                use(xlink:href="img/sprite.svg#share")
                    .post-footer-center 
                      .tags 
                        ul.tags__tag-list 
                          li 
                            a(href="#").btn-transparent--square  FreeWare
                          li 
                            a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                          li 
                            a(href="#").btn-transparent--square  МУЛЬТИМЕДИА
                          li 
                            a(href="#").btn-transparent--square  Эффективная работа
                          li 
                    .post__footer-bottom
                  // блок комментариев в контенте
                  .post__block-comments 
                    div 56 комментариев
                    a.btn-circle.btn-main-color Читать
                  // навигация по статьям
                  .post__block-nav 
                    p следующая статья
                    a(href="#")  Как установить программу на Windows 10
                    svg(width="7px" height="13px")
                      use(xlink:href="img/sprite.svg#arrow")

      .page__footer-wrapper
        +page-footer()
          block footer
      +to-top()      

    block page-bottom
      script(src='js/bundle.js')
