extends ../pug/article-type.pug

block meta
  title Article Type
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



 

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
