extends ../pug/layout-listing-app.pug

block meta
  title Listing-article
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')



 

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')